/_queue
/data/
/src/
/hillshade/
/search/
/gdal/
*.log
*.pyc
*.bak
~*
/map/tiles
/map/tiles_old
/map/rendered_tiles
/stylesheets/general/prepare-db/*.sql
/stylesheets/general/prepare-db/out*
/stylesheets/*/1/
/stylesheets/*/2/
/stylesheets/*/3/
/stylesheets/*/4/
/stylesheets/*/5/
/stylesheets/*/5/
/stylesheets/*/6/
/stylesheets/*/7/
/stylesheets/*/8/
/stylesheets/*/9/
/stylesheets/*/10/
/stylesheets/*/11/
/stylesheets/*/12/
/stylesheets/*/13/
/stylesheets/*/14/
/stylesheets/*/15/
/stylesheets/*/16/
/stylesheets/*/17/
/stylesheets/*/18/
/stylesheets/*/19/
/stylesheets/*/*.*
/stylesheets/*/general
/o5m-reader
/o5m2sqlite
/stylesheet
osmconvert32
osmconvert
/shp
/mapnik/world_boundaries
*.pydevproject
.project
.metadata
.cproject
.buildpath
.classpath
.settings/
.loadpath
local.properties
*.launch
/stdout
/stderr
stderr.txt
stdout.txt
/osmcsymbol/generated
/highway_access/generated
/articles/
/atlas-logs/
/generate-praha
/generate-praha-nw
/generate-botanicka-zahrada
/generate-botanicka-zahrada-gridinfo
/generate-troja
/generate-zizko
*._queue.done
*._queue.error
