/_queue
/data/
/src/
/hillshade/
/search/
/gdal/
*.log
*.pyc
*.bak
~*
/map/tiles/
/map/tiles_old
/stylesheets/general/prepare-db/*.sql
/stylesheets/general/prepare-db/out*
/stylesheets/*/1/
/stylesheets/*/2/
/stylesheets/*/3/
/stylesheets/*/4/
/stylesheets/*/5/
/stylesheets/*/5/
/stylesheets/*/6/
/stylesheets/*/7/
/stylesheets/*/8/
/stylesheets/*/9/
/stylesheets/*/10/
/stylesheets/*/11/
/stylesheets/*/12/
/stylesheets/*/13/
/stylesheets/*/14/
/stylesheets/*/15/
/stylesheets/*/16/
/stylesheets/*/17/
/stylesheets/*/18/
/stylesheets/*/19/
/o5m-reader
/o5m2sqlite
/stylesheet
/osm/osmconvert32
/shp
/mapnik/world_boundaries
*.pydevproject
.project
.metadata
.cproject
.buildpath
.classpath
.settings/
.loadpath
local.properties
*.launch
/stdout
/stderr